include ../lib/DarkModeToggler/DarkModeToggler.pug
include ../lib/Search/Search.pug
include ../lib/Gallery/Gallery.pug

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="images/favicon.ico", type="image/x-icon")
    include ../fonts/googleFonts.pug
    include ../fonts/montserratFont.pug
    include ../styles/styles.pug
    include ../scripts/scripts.pug
    title The Met Museum
  body
    div(class="dark:text-neutral-100 dark:bg-neutral-900")
      div(class="p-16 flex flex-col items-start justify-end h-[600px] bg-center bg-cover hero" style="background-image: url('/images/hero-placeholder.jpg')")
        h1(class="text-3xl font-semibold text-white md:text-5xl ") THE
        h1(class="text-3xl font-semibold text-white md:text-5xl ") MET
      main(class="flex flex-col items-center justify-center max-w-5xl px-4 py-16 mx-auto")
        +Search()
        +Gallery({ data: objects })


    







    
    +DarkModeToggler()