include ChevronLeftIcon.pug
include ChevronRightIcon.pug

mixin Pagination({ total, page, limit, totalPages })
  ol(class="flex justify-start gap-1 text-xs font-medium")
    li
      a(href="#" alt="Anterior" class="inline-flex items-center justify-center border rounded bg-primary-200 text-primary-900 border-primary-100 size-8")
        span(class="sr-only") Anterior
        +ChevronLeftIcon({ width: 16, height: 16 })
    li
      a(href="#" class="block leading-8 text-center border rounded bg-primary-200 text-primary-900 border-primary-100 size-8")
        | 1
    li
      a(href="#" class="block leading-8 text-center border rounded bg-primary-200 text-primary-900 border-primary-100 size-8")
        | 9
    li(class="block leading-8 text-center text-white rounded bg-primary-600 border-primary-600 size-8")
      | 10
    li
      a(href="#" class="block leading-8 text-center border rounded bg-primary-200 text-primary-900 border-primary-100 size-8")
        | 11
    li
      a(href="#" class="block leading-8 text-center border rounded bg-primary-200 text-primary-900 border-primary-100 size-8")
        | 225
    li
      a(href="#" alt="Siguiente" class="inline-flex items-center justify-center border rounded bg-primary-200 text-primary-900 border-primary-100 size-8")
        span(class="sr-only") Siguiente
        +ChevronRightIcon({ width: 16, height: 16 })

  //- div(class="flex flex-col gap-4 md:flex-row md:gap-8")
  //-   div(class="flex flex-col gap-2 md:flex-row md:gap-2")
  //-     span(class="text-sm font-medium text-primary-700 dark:text-primary-300") Página
  //-     span(class="text-sm font-medium text-primary-700 dark:text-primary-300") #{page}
  //-     span(class="text-sm font-medium text-primary-700 dark:text-primary-300") de
  //-     span(class="text-sm font-medium text-primary-700 dark:text-primary-300") #{totalPages}
  //-   div(class="flex flex-col gap-2 md:flex-row md:gap-2")
  //-     if page > 1
  //-       a(href=`#` class="text-sm font-medium text-primary-700 dark:text-primary-300") Anterior
  //-     else
  //-       span(class="text-sm font-medium text-primary-700 dark:text-primary-300") Anterior
  //-     if page < totalPages
  //-       a(href="#" class="text-sm font-medium text-primary-700 dark:text-primary-300") Siguiente
  //-     else
  //-       span(class="text-sm font-medium text-primary-700 dark:text-primary-300") Siguiente