mixin Footer()
  footer(class="bg-primary-700")
    div(class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 lg:px-8")
      div(class="max-w-2xl mx-auto sm:flex sm:items-center sm:justify-between")
        div(class="flex flex-col justify-center text-primary-300 sm:justify-start")
          h1(class="text-3xl font-semibold text-center md:text-5xl") THE
          h1(class="text-3xl font-semibold text-center md:text-5xl") MET
        p(class="flex flex-col justify-center gap-2 mt-4 text-sm text-center lg:mt-0 lg:text-right")
          a(href="https://www.metmuseum.org/" class="underline text-primary-300 hover:text-primary-200") The Met Museum
          a(href="https://metmuseum.github.io/" class="underline text-primary-300 hover:text-primary-200") Museum API
